.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #E8EFF9;
  font-weight: 700;
  text-transform: uppercase;

  &__phone-number {
    display: block;
    font-size: 1rem;
    line-height: 1.687rem;
    color: inherit;
    text-decoration: none;
    margin-bottom: 1rem;
  }
  &__call-to-order {
    display: block;
    width: fit-content;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $main-text-color;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 2;
    color: inherit;
    text-decoration: none;
  }
  &__top {
    margin-bottom: 2rem;

    @include onTablet {
      margin-bottom: 0;
    }
  }
  &__nav {
    margin-bottom: 2.5rem;
  }
}
