$tablet-min-width: 36rem;
$desktop-min-width: 64rem;

$effectDuration: 0.3s;

$main-text-color: #292929;
$secondary-text-color: #FFFFFF;
$main-text-color-hover: #7E7E83;

$main-color: #292929;
$light-gray-color: #F8F8FA;
$gray-color: #7E7E83;
$border-color: #D5D7DE;
$subtitle-color: #9FADC2;
$contact-text-color: #3E3E3E;

$mobile-footer-height: 200px;
$tablet-footer-height: 400px;
$desktop-footer-height: 460px;
